#messages {
  margin-bottom: 10px;
  height: auto;
  overflow: auto;
}
#messages .message {
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
#messages .message:nth-child(even) {
  background-color: #F7F7F7;
}
#messages .sender, #messages .content {
  display: inline-block;
}
#active-users .name:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  /*+border-radius: 100%;*/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  background-color: #C52020;
  margin-right: 7px;
  vertical-align: middle;
}
#active-users LI {
  cursor: pointer;
}
#active-users LI.online .name:before {
  background-color: #87D21A;
}
#active-users .badge:empty {
  display: none;
}
#active-users .badge {
  background-color: #3AAAD2;
  padding: 7px 10px;
}