body {
  background-color: rgb(240, 240, 240);
}
.panel.chat {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 10px;
  overflow: hidden;
}
.panel.chat .panel-body {
  padding: 15px;
  background-position: bottom center;
  background-size: cover;
  background-image: url(../img/background.jpg);
}
#message {
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 13px;
  padding-bottom: 2px;
}
#messages {
  margin-bottom: 10px;
  height: auto;
  overflow: auto;
}
#messages .message {
  display: block;
  background-color: transparent;
  margin-bottom: 10px;
}
#messages .message .date {
  float: right;
  position: absolute;
  right: 5px;
  bottom: 0px;
}
#messages .sender {
  color: rgb(31, 104, 187);
  font-weight: bold;
}
#messages .content::after {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0";
  display: inline;
}
#messages .message-wrapper {
  background-color: white;
  padding: 7.0px;
  border-radius: 10px;
  
  width: auto;
  max-width: 75%;

  border-radius: 7.5px;
  position: relative;
  box-shadow: 0 1px .5px rgba(0,0,0,.13);
  display: inline-block;
}
#messages .sender, #messages .content {
  display: block;
}
#active-users .name:before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  /*+border-radius: 100%;*/
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  -khtml-border-radius: 100%;
  border-radius: 100%;
  background-color: #C52020;
  margin-right: 7px;
  vertical-align: middle;
}
#active-users LI {
  cursor: pointer;
}
#active-users LI.online .name:before {
  background-color: #87D21A;
}
#active-users .badge:empty {
  display: none;
}
#active-users .badge {
  background-color: #3AAAD2;
  padding: 7px 10px;
}